body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #000000); 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

.navbar { 
    position: absolute;
    width: 1272px;
    background-color:  black;
    color: #fff;
    display: flex;
    top: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    left: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color:  #003F63;
    color: white;
    cursor: pointer;
}

.nav-links li ul {
    position: absolute;
    display: none;
    left: -4px;
    margin-right: 15px;
    margin: 0px;
    padding: 0px;
    line-height: 35px;
    text-align: left;
    }

.nav-links li  {
    position: relative;
    background-color: black;
    float: left;
    top: 9px;
    list-style-type: none;          
}    


.nav-links a {
    position: relative;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-family: 100px;     
}    

.nav-links li  {
    width: 80px;
                
              
}

.nav-links li:hover ul, .nav-linksli.over ul {
     display: block;
}

li:hover{
    background-color:  #003F63;
    color: #fff;
}
.Contatos li {
    width: 125px;       
}

.Cartão li {
    width: 125px;
}

.Perfil li {
    width: 120px;
}
.navegacao a {
    top: -10px;
}


.container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    width: 100%;
}

.login-box, .signup-box, .reset-password-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #003F63;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #003F63;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #00274B;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Estilos para a página de redefinição de senha */
.reset-password-box {
    background-color: #f5f5f5; 
}

.reset-password-box a {
    color: #FF5722; 
}

.reset-password-box button {
    background-color: #FF5722; 
}

.reset-password-box button:hover {
    background-color: #E64A19; 
}


/* Estilos para a caixa de diálogo */
.dialog-box {
    display: none;
    background-color: #003F63;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
}

/* Estilos para o botão */
#send-button {
    background-color: #003F63;
    color: #fff;
}

#send-button:hover {
    background-color: #00274B;
}

footer {
    background-color: #000;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}


footer p {
    margin: 5px 0;
}

.right-content {
    display: flex;
    justify-content: flex-end;
}

.social-link {
    margin-left: 10px;
    display: inline-block;
}


.social-link img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.destacada {
    font-style: oblique;
  }

.logo {
    max-width: 100px; 
    margin: 0 auto -30px;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3)); 
    transform: rotate(3deg); 
}

